.box {
  height: 90px;
  border: 15px solid red;
}
.line1 {
  border-bottom-right-radius: 100px;
  position: relative;
  border-top: transparent;
  border-left: transparent;
  top: -62px;
  left: 25px;
  z-index: -10;
  /* border-top-left-radius: 48px; */
  /* border-bottom-left-radius: 48px; */
}
.line1::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: red;
  z-index: 1;
  position: absolute;
  top: 90px;
  left: -12px;
  border-bottom-left-radius: 48px;
  border-top-left-radius: 48px;
}
/*

.line2 {
  border-bottom-right-radius: 100px;
  position: relative;
  top: -202px;
  left: -50px;
}

.line3 {
  border-bottom-right-radius: 100px;
  position: relative;
  top: -340px;
  left: -75px;
} */

/* .box{
  height:20px;
  width: 100%;
  border-bottom-right-radius: 1000px;
  background-color:orangered;

  margin-bottom:10px
} */
